:root {
  --bg-dark: oklch(0.1 0.1 284);
  --bg: oklch(0.15 0.1 284);
  --bg-light: oklch(0.2 0.1 284);
  --text: oklch(0.96 0.1 284);
  --text-muted: oklch(0.76 0.1 284);
  --highlight: oklch(0.5 0.2 284);
  --border: oklch(0.4 0.2 284);
  --border-muted: oklch(0.3 0.2 284);
  --primary: oklch(0.76 0.2 284);
  --danger: oklch(0.7 0.2 30);
  --success: oklch(0.7 0.2 160);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  all: unset;
}

body {
  background-color: var(--bg-dark);
}

main {
  width: 100%;
  position: relative;
  height: 100%;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .profile-container {
      max-width: 600px;
      width: calc(100% - 50px * 2);
      height: 450px;
      margin-inline: auto;
      border-radius: 26px;
      min-width: 300px;
    }
  }
}

.profile-container {
  display: grid;
  grid-template-rows: 75% 1fr;
  overflow: hidden;
  border: 1px solid var(--border-muted);
  border-top-color: var(--border);
  background-image: linear-gradient(
    to bottom,
    var(--bg),
    var(--bg-dark),
    var(--bg-light)
  );
  padding: 10px;

  .top,
  .bottom {
    width: 100%;
  }

  .top {
    position: relative;
    z-index: 2;
    .profile-bg {
      width: 100%;
      height: 100%;
      border-radius: 26px;
      overflow: hidden;
      border: 1px solid var(--bg);
      border-top-color: var(--bg-dark);
      border-left-color: var(--bg-dark);
      box-shadow: 1px 1px 5px var(--bg);
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .bottom {
    position: relative;
    z-index: 5;

    .profile-picture {
      position: absolute;
      top: -75px;
      left: 5px;
      height: 115px;
      aspect-ratio: 1/1;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid var(--border);
      border-top-color: var(--border-muted);
      border-left-color: var(--border-muted);
      box-shadow: 3px 3px 5px var(--border);
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .content-block {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      margin-left: 120px;
      color: var(--primary);

      h1 {
        font-size: 40px;
        font-weight: 600;
      }

      #relation {
        margin-left: 2px;
      }

      .rel-stranger {
        opacity: 0.7;
      }

      .rel-follower {
        color: var(--text);
        font-style: normal;
      }

      .follow {
        background: var(--bg-dark);
        width: fit-content;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 10px;
        border: 1px solid var(--border);
        font-weight: 500;
        transition: all 0.3s ease;
        color: var(--text-muted);
        white-space: nowrap;
        i {
          transition: all 0.3s ease;
          color: var(--text-muted);
        }

        &:hover {
          background-color: var(--border);
          color: var(--text);
          scale: 1.05;
          i {
            color: var(--text);
          }
        }
      }
      .unfollow {
        color: var(--danger);
        border: 1px solid var(--danger);
        i {
          color: var(--danger);
        }
        &:hover {
          color: var(--danger);
          background-color: var(--bg);
          border: 1px solid var(--danger);
          i {
            color: var(--danger);
          }
        }
      }
    }
  }
}
